language: python
dist: xenial
python:
- '2.7'
- '3.4'
- '3.5'
- '3.6'
- '3.7'
branches:
  except:
  - gh-pages
addons:
  apt:
    packages:
    - python-pip
before_install:
- pip install -U pip
- pip install pylint
install:
- make release-build
- make install
script:
- pylint bin/kmdo setup.py
deploy:
  provider: pypi
  skip_existing: true
  on:
    tags: true
  user:
    secure: EzymKn1vXWdRtzA+EQVlT3WsivKOHerhl6OSVoRAGVy7/KdauEUtSqySCMP1loB9KsCE8E9oOddXEti6ufmk9z85cN36awe21xiMuQ/QnoegHgVfH7ObSCy+AZGKpFMUuNtwn/Jk0SfUpkFwivCpTf9sAAUnlD/IC512VttdiLpXekTXYfQB9yndom9lnKJ26OjNvf1x2MTwzMqyu2TfKIB4qchZ4gkixsj6OAObWYMF/bUEVIFtrSB5GtrIeI0aft+olsA/YMw+vcjwwk7dEQmUeCMn6dnjl0n3MsNHCqU5dKobnoeWm6V3HobK52wbpYTAQrMcEVv48cQaXKW69hNigZhXVLeWE111Niooh3qTZcw/XMX/oHMJJMTjJH2FESCEVXL6kviT3wTg2BzHV6iaBm4VILueQ5B2JATeqgEewdQxDdIBWbMxtvEfJn7h1vh4Q81oROC4vJqu5Rcr+AC+lVabxuYeQXxg7t+s+v72Y/JA+l0r/UfmbaoFLARtHQLHwuSjC5C3v0H2MOiGvIDjivV6/gNx1bpJwsVqo70QwoajX3im3fekIIWulEFiZhxWLIC/Ww8Hg71qO00QHHFgypXW6uPE/7Fx7Uh8xUfEl8wVZqfeqBhX4OUJzoBMBIgzsqRsaHzRvN+gwV7mnlt4tAVo6jqLRqBziv5c3+U=
  password:
    secure: jfA8H8oVaxxA0ppAP3ymiOduqqtdgFCiFU+AC94j+1TYDydf5NXhABE0Rym2V3SX5WWJNvjqdp5CtotFeqpPUckPs6GFomBl9kIv+rmILsbB+P6wKoguHJ/t2MzJy7j59fDpSuRMyTYO8nCy+lUpzFFpHtAOvCcVaN/bYBurBCZ1oplSSNMcxbE0qTm4TVm2hyvzZsvgSb/7F8t6LAPeVTzL2KczN2ZMoNhaz7hYa9lPfLt5WWBHGzT2sMkEPwAg+RbHYPCnOoZT8O/zxTC5SEL/s7yAZk+/IQ2gnrlJa0WitWHgOa1ve8YHX6C1maG5B8Mlb/KjZGMcAh0N1Jc6pff/OTC6cL6msoIxyKv7vd9Yh8YYRuVY0XOUpUKC5Jj5gF83hyD9Hv6vs1m5AveZl3Q0nkdEFC3tNJBQurU2Sm/Y9BBYLH6pBoUnMddYIE3QA2bOmzJLCiHh6duo53IvP3AF4vUVPuvLBd1l3HyFRboKVaQ4D3n23RSknrgZ8IrDshMcsCjjJXoZUu1D6/iO8ylJ8AAhbiwBxgySJdKf8dhKKt90CkUGyyU0C0BGweR1VWeKj8b9tAYP2pAsoXYIV2l4KodB7wwxbupod9NBjiWYCfQWa5tYbz5uj62WhLHlSxozsfX5xFSkiycrjEhowh4BDkEp9b2TyZQ1UFtMD+M=
