name: build_check_publish

on:
  pull_request:
  push:
    branches:
      - "!gh-pages"
      - "**"
    tags:
      - "v*"

defaults:
  run:
    shell: bash

jobs:
  build_and_check:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04, macos-latest]
        python-version: ['3.10', '3.11', '3.12', '3.13']

    steps:
    - name: Grab source
      uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install build tools
      run: |
        python3 -m pip install --upgrade pip build
        echo "$HOME/.local/bin" >> $GITHUB_PATH

    - name: Build, install, and check
      run: |
        make all
        kmdo --help

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13']

    steps:
    - name: Grab source
      uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: python3 -m pip install --upgrade pip pytest

    - name: Run tests
      run: python3 -m pytest

  publish:
    if: startsWith(github.ref, 'refs/tags/v')
    needs: [build_and_check, test]

    runs-on: ubuntu-latest
    permissions:
      id-token: write

    environment:
      name: pypi
      url: https://pypi.org/p/kmdo

    steps:
    - name: Grab source
      uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Build
      run: |
        python3 -m pip install --upgrade pip build
        python3 -m build --sdist

    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
